In [1]:
import numpy as np

In [2]:
array = np.arange(25)
newArr = array.reshape(5,5)

In [3]:
print(newArr)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

In [17]:
# Mendapatkan Nilai dr sebuah Index Array
array[3]

3

In [18]:
# How to get value from between Two Indexs
array[1:5]

array([1, 2, 3, 4])

In [20]:
# Merubah Data Aray
newArr[0][2] = 50

In [21]:
newArr

array([[ 0,  1, 50,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [23]:
# Menampung Data array pada variabel baru
data = array[1:6]
data

array([ 1, 50,  3,  4,  5])

In [26]:
# Merubah data array
data[:] = 6
data

array([6, 6, 6, 6, 6])

In [27]:
# Dan Jika dilihat data array aslinya akan ikut berubah juga
array

array([ 0,  6,  6,  6,  6,  6,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [30]:
# Contoh diatas merubah data aslinya.
# Jika ingin meng-copy data bisa dengan variableKamu.copy()
dataBaru = array.copy()
dataBaru

array([ 0,  6,  6,  6,  6,  6,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [32]:
arr_2d = np.array(([5,10,15], [20,25,30], [35,40,45]))
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [33]:
# Array dapat menampilkan data multidimensi array dgn 2 cara:
# 1. arr[index][index]
# 2. arr[index, index]
print(arr_2d[1][2])
print(arr_2d[1,2])

30
30

In [36]:
# Menampilkan Array berdasarkan range
arr_2d[0:2, 1:3]
# 0:2 -> Menampilkan index ke 0 -s/d dibawah 2 dr array
# 1:3 -> Menampilkan kolom 1 s/d 3 dr index 0-2

array([[10, 15],
       [25, 30]])

In [37]:
# atau bisa juga seperti ini
arr_2d[:2,1:]
# :2 berrti menampilkan index < 2, (artinya akan tampil index ke-0 & index ke-1)
# 1: berrti menampilkan kolom dgn index > 1, (akan tampil kolom ke-2 dn ke-3)

array([[10, 15],
       [25, 30]])

In [38]:
arr = np.arange(0,6)
arr

array([0, 1, 2, 3, 4, 5])

In [40]:
# Seleksi dalam numpy array
arr > 2 #Akan tampil nilai diatas angka dua, dan memberikan Ouput berupa Boolean(true/false)
# Jika ingin mengeluarkan Nilainya dengan cara dibawah.!
arr[arr > 2]

array([3, 4, 5])

In [42]:
# Perhitungan pada Array Numpy
arr + arr

array([ 0,  2,  4,  6,  8, 10])

In [43]:
arr - arr

array([0, 0, 0, 0, 0, 0])

In [44]:
arr * arr

array([ 0,  1,  4,  9, 16, 25])

In [45]:
arr / arr

/home/adi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.])